body {
  font-size: 13px;
  background-image: url("Background.jpg");
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-size: 26px;
  padding: 2px;
}

h2 {
  font-size: 16px;
  padding: 2px;
}

p1 {
  font-size: 15px;
  padding: 2px;
}

.header {
  padding: 1px;
  text-align: center;
  background: #cc8800;
  color: black;
  font-size: 30px;
}

.third {
  text-align: center;
  color: white;
  font-size: 10px;
  background: #232020;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 40px;
  width: 500px;
  height: 265px;
  padding: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 10), 0 6px 20px 0 rgba(0, 0, 0, 18);
}

.fourth {
  background: white;
  width: 550px;
  margin: auto;
  border-radius: 40px;
  height: auto;
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 10), 0 6px 20px 0 rgba(0, 0, 0, 18);
}

.fifth {
  padding: 1px;
  text-align: center;
  background: black;
  color: white;
  font-size: 10px;
}

.sixth {
  padding: 1px;
  text-align: center;
  background: #cc8800;
  color: Black;
  font-size: 10px;
}

.navbar :hover {
  background-color: orange;
  box-shadow: 0 0 10px rgba(0.5, 0.5, 0.5, 0.5);
  transition: 0.35s;
}

.navbar {
  box-shadow: 0 0 10px rgba(0.5, 0.5, 0.5, 0.5);
}

#selected {
  background-color: black;
}

.navbar  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  opacity: 0.95;
  font-size: 15px;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#bb {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  float: right;
  background-color: #1f1f1f;
  cursor: pointer;
}


.item1 {
  grid-area: header;
}

.item2 {
  grid-area: menu;
  z-index: 9999;
}

.item3 {
  grid-area: left;
  padding: auto;
}

.item4 {
  grid-area: main;
  margin-top: 1px;
  margin-bottom: 100px;
}

.item5 {
  grid-area: footer;
}

.item6 {
  grid-area: right;
}

.item7 {
  grid-area: right;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu menu menu menu menu'
    'left left left main main main'
    'right right right right right right'
    'footer footer footer footer footer footer'
    'logo logo logo logo logo logo';
  width: 100%;
  height: 100%;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

img {
  padding-top: 98px;
  width: 200px;
  height: 200px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#textbox {
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #555;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  padding: 6px 12px;
  font-size: 14px;
}
 .container {
  width: auto;
  margin: auto;
  height: auto;
}

.A {
  text-align: center;
  float: left;
  white-space: wrap;
  margin-right: 200px;
  margin-left: 10px;
}

.B {
  margin-top: -75px;
  text-align: center;
  float: right;
  white-space: wrap;
  margin-right: 200px:

}

.C {
  float: left;
  text-align: center;
  margin-left: 10px;
}

.D {
float: right;
margin-top: 55px;
margin-right: 100px;
}
/* entire box */
.selectoption {
  background-color: none;
  text-align: center;
}

/* box inside selectoption */
.setRadio {
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-row: auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: 100px 100px;
  height: 40px;
}

.setRadio input[type="radio"] {
  width: 0px;
  height: 0px;
  opacity: 0;
  background-color: none;
  position: fixed;
  width: 0;
  display: inline-flex;
}

.setRadio label {
  background-color: #cc8800;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 10px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  height: auto;
  width: auto;
}

.setRadio input[type="radio"]:checked+label {
  background-color: black;
  border-color: orange;
  border: 2px orange;
  color: white;
}

.setRadio input[type="radio"]:focus+label {
  border: 2px orange;
}

.setRadio label:hover {
  background-color: orange;
}

.componentBox {
  padding: 1px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td {
  text-align: left;
  padding: 8px;
  width: 150px;
}

th {
  font-size: 20px, bold;
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody {
  font-size: 12px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555;
}
