body {
  font-size: 13px;
  background-image: url("Background.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Open Sans',sans-serif;
}

h1 {
  font-size: 26px;
  padding: 2px;
  text-align: center;
}

h2{
  font-size: 42px;
  padding: 1px;
  text-align: center;
}

p {
  font-size: 18px;
  color: darkred;
}

p1 {
  font-size: 14px;

}

p2 {
  font-size: 24px;

}
.header {
  padding: 1px;
  text-align: center;
  background: #cc8800;
  color: black;
  font-size: 30px;
  height: 100px;
}

.third {
  padding: 0px;
  margin-bottom: 10px;
  text-align: center;
  color: #8344c7;
  font-size: 10px;
  background-color: white;
}

.fourth {
  padding: 0px;
  text-align: center;
  color: black;
  font-size: 10px;
}

.fifth {
  padding: 10px;
  background: black;
  color: white;
  font-size: 10px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
    margin-bottom: 30px;
}

.sixth {
  padding: 10px;
  background: grey;
  color: Black;
  font-size: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
}

.navbar a:hover {
  background-color: orange;
  box-shadow: 0 0 10px rgba(0.5, 0.5, 0.5, 0.5);
  transition: 0.35s;
}
#selected {
  background-color: black;
}
.navbar  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  opacity: 0.95;
  font-size: 15px;
  margin-left: 40%;
  box-shadow: 0 0 10px rgba(0.5, 0.5, 0.5, 0.5);
}
.navbar a {
  float: left;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Open Sans',sans-serif;
}

.item1 {
  grid-area: header;
  background: #cc8800;
  padding: 0px;
}

.item2 {
  grid-area: menu;
  z-index: 9999;
  padding: 0px;
  background-color: #333;
}

.item3{
  position: fixed;
  top: 150px;
  right: 150px;
  z-index: 9999;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.item4 {
  grid-area: center;
}

.item5 {
  grid-area: footer;
  position: relative;
  top:-100px;
  background: black;
}

.item6 {
  border-top: 5px solid;
  grid-area: right;
  position: relative;
  top:-100px;
  background: grey;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu menu menu menu menu'
    'center center center center center center'
    'right right right right right right'
    'footer footer footer footer footer footer'
    'logo logo logo logo logo logo';
  width: 100%;
  height: 100%;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

img {
  padding-top: 98px;
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#sneakPreview{
position: relative;
top:-100px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}

#close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}

#close:hover {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    color:#fff;
}
