.navbar a:hover {
  background-color: orange;
  box-shadow: 0 0 10px rgba(0.5, 0.5, 0.5, 0.5);
  transition: 0.35s;
}
#selected {
  background-color: black;
}
.navbar  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  opacity: 0.95;
  font-size: 15px;
  margin-left: 40%;
  box-shadow: 0 0 10px rgba(0.5, 0.5, 0.5, 0.5);
}
.navbar a {
  float: left;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Open Sans',sans-serif;
}
@media only screen and (max-width: 600px){
  .navbar{
      margin-left: 22%;
  }
}
#bb {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  float: right;
  background-color: #1f1f1f;
  cursor: pointer;
}
