
  h3{
    text-align: center;
    color: black;
    font-size: 50px;
    font-weight: normal;
    border-bottom: 1px solid orange;
    line-height: 1.6;
  }
  .adder {
    position: relative;
    width: 250px;
    margin: 0px auto;
    display: block;
  }

  .adder ::-webkit-input-placeholder {
       color: #cecece;
    }
    .input {
      outline: none;
      border: 1px solid white;
      background-color: white;
      color: black;
      height: 50px;
      width: 250px;
      padding-left: 10px;
      font-weight: 800;
      font-size: 16px;
      margin-left: -5px;
      border: 1px solid orange;
      border-radius: 40px;
    }
    span {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 30px;
      font-weight: 800;
      line-height: 1.8;
      cursor: pointer;
      transition: all 200ms;
      color: black;
      will-change: transform;
      }
      span:hover{
        transform: rotate(180deg);
      }

   ul {
    padding: 0px;
       width: auto;
       height:auto;
       margin-bottom: 40px;
       /*   columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2; */

  }
   li {
      height: 20px;
      list-style-type: none;
      background-color: white;
      color: black;
      width: 300px;
      cursor: grab;
      transition: all 200ms;
      user-select: none;
      margin: 1px auto;
      position: relative;
      white-space: nowrap;
      font-size: 15px;
      text-align: center;
      vertical-align: middle;

    }

      ul:hover {
        opacity: 1;
        transform: translate(0);
      }
     ul:after {
          opacity: 1;
          transform: translate(0);
        }


.over {
  transform: scale(1.1, 1.1);
}

.result{
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
}

.result p{
    margin: 0;
    padding: 7px 10px;
    border: 1px solid #CCCCCC;
    border-top: none;
    cursor: pointer;
}

.result p:hover{
    background: #f2f2f2;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td {
  text-align: center;
  padding: 8px;
  width: 150px;
}

thead {
  font-size: 20px, bold;
  background-color: white;
  text-align: center;
  padding: 8px;
  width: 150px;
}


tbody {
  font-size: 12px;
}

  td:first-child {
  font-weight: bold;
  font-size: 14px;
}
td:nth-child(2) {
color: darkorange;
}

td:nth-child(3) {
color: green;
font-weight: bold;
}
