  h3{
    text-align: center;
    color: black;
    font-size: 50px;
    font-weight: normal;
    border-bottom: 1px solid orange;
    line-height: 1.6;
  }

   ul {
    padding: 0px;
       width: auto;
       height:auto;
       margin-bottom: 40px;
  }
   li {
      height: 20px;
      list-style-type: none;
      background-color: white;
      color: black;
      width: 300px;
      cursor: grab;
      transition: all 200ms;
      user-select: none;
      margin: 1px auto 0px 30px;
      position: relative;
      white-space: nowrap;
      font-size: 15px;
      text-align: center;
      vertical-align: middle;
    }

      ul:hover {
        opacity: 1;
        transform: translate(0);
      }
     ul:after {
          opacity: 1;
          transform: translate(0);
        }

.input {
  outline: none;
  border: 1px solid white;
  background-color: white;
  color: black;
  height: 50px;
  width: 250px;
  padding-left: 10px;
  font-weight: 800;
  font-size: 16px;
  margin-left: -5px;
  border: 1px solid orange;
  border-radius: 40px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  padding: 8px;
}
thead {
  font-size: 14px;
  background-color: white;
  text-align: center;
}
#customHeader{
  width: 400px;
  font-size: 20px;
}
#customHeader2{
  width: 50px;
}
tbody {
  font-size: 12px;
  cursor: grab;
}
td {
  text-align: center;
  padding: 8px;
}
td:first-child {
font-weight: bold;
font-size: 14px;
width: 400px;
}
td:nth-child(2) {
color: darkorange;
  width: 50px;
}

td:nth-child(3) {
color: green;
font-weight: bold;
  width: 50px;
}
