body {
  background-image: url("Background.jpg");
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  font-family: 'Open Sans',sans-serif;
}

h1 {
  font-size: 26px;
}

h2 {
  text-align: center;
  color: silver;
  font-size: 30px;
  font-weight: 200;
  border-bottom: 1px solid;
  border-width: thin;
}

p {
  text-align: center;
  color: silver;
  font-size: 16px;
}

a{
  color: #3369ff;
}
a:hover{
  color: #3399fd;
}

.header {
  padding: 10px;
  text-align: center;
  color: black;
  font-size: 20px;
  height: 50px;
}

.item1 {
  grid-area: header;
  background: #cc8800;
}

.item2 {
  grid-area: menu;
  z-index: 9999;
  background-color: #333;
  height: 46px;
}

.item3 {
  grid-area: left;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu menu menu menu menu'
    'left left left left left left';
  width: 100%;
  height: 100%;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.navbar a:hover {
  background-color: orange;
  box-shadow: 0 0 10px rgba(0.5, 0.5, 0.5, 0.5);
  transition: 0.35s;
  color: white;
}

#selected {
  background-color: black;
}
.navbar  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  opacity: 0.95;
  font-size: 15px;
  margin-left: 40%;
  box-shadow: 0 0 10px rgba(0.5, 0.5, 0.5, 0.5);
}
.navbar a {
  float: left;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Open Sans',sans-serif;
}

/*Adjusts Logo to the center of the page */
.img-center {
  border-radius: 22%;
  margin:auto;
  object-fit: width 50px height 50px;
  width: 100px;
  height: 100px;
  padding: 1px;
  border: 1px solid #021a40;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/*Centers the register and clear buttons on the page */
#center_buttons {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .sidebyside {
    width: 100%;
  }

}
.BlackBox {
  background: #232020;
  width: 595px;
  height: 370px;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 10), 0 6px 20px 0 rgba(0, 0, 0, 18);
  margin:auto;
  padding: 10px;
}

.container {
 width: auto;
 margin: auto;
 height: auto;
}

.A {
  margin-top: 120px;
 text-align: center;
 float: left;
 white-space: wrap;
}
.B {
 float: left;
 text-align: center;
 margin-left: 10px;
 white-space: wrap;
 padding: 5px;
}

.C {
text-align: center;
float: right;
white-space: wrap;
padding: 5px;
}

.form-control{
margin-bottom: 10px;
padding: 3px 8px;
}

.form-group{
  margin-left: 20px;
  width: 170px;
  text-align: left;
  color: silver;
}

.btn{
padding: 0.7em 1.7em;
margin: 0 0.3em 0.3em 0;
border-radius: 0.2em;
box-sizing: border-box;
text-decoration: none;
font-weight: 400;
color: #FFFFFF;
background-color: #3369ff;
box-shadow: inset 0 -0.6em 1em -0.35em rgb(0,0,0,0.17), inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
text-align: center;
position: relative;
border: none;
cursor: pointer;
}

.btn:hover{
background-color:#3399fd;
}

#input{
  border-radius: 0.2em;
  border: none;
  height: 25px;
}

#clear{
  background-color: grey;
}

#clear:hover{
background-color: darkgray;
}
.help-block{
  font-size: 8px;
}
