/*Padding around the page body and dark background colour */
body {
  background-image: url("Background.jpg");
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-size: 26px;
  padding: 2px;
}

.header {
  padding: 10px;
  text-align: center;
  background: rgb(240, 120, 0);
  color: black;
  font-size: 30px;
}

.item1 {
  grid-area: header;
}

.item2 {
  grid-area: menu;
  z-index: 9999;
}

.item3 {
  grid-area: left;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu menu menu menu menu'
    'left left left left left left';
  width: 100%;
  height: 100%;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.navbar a:hover {
  background-color: orange;
  box-shadow: 0 0 10px rgba(0.5, 0.5, 0.5, 0.5);
  transition: 0.35s;
  color: white;
}

.navbar {
  box-shadow: 0 0 10px rgba(0.5, 0.5, 0.5, 0.5);
  margin: -1px -1px 25px -1px;
}

#selected a {
  background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  opacity: 0.95;
  font-size: 15px;
}

li a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*Adjusts Logo to the center of the page */
.img-center {
  border-radius: 22%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: width 50px height 50px;
  width: 200px;
  height: 200px;
  padding: 1px;
  border: 1px solid #021a40;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Moves content to the center of the Red box*/
.move-Content {
  padding: 45px;
}

/*Adjusts heading text to the center of the page */
H2 {
  text-align: center;
  color: silver;
}

/*Adjusts paragraph text to the center of the page */
p {
  text-align: center;
  color: silver;
}

p1 {
  text-align: left;
  color: silver;
}

/*creates and styles button */
.button {
  background-color: white;
  color: black;
  border: 1px solid #555555;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Centers the button on the page */
#center_buttons {
  display: flex;
  justify-content: center;
}

/*Creates and styles the Red box, adds shade/ makes the corners round ect.*/
.BlackBox {
  background: #232020;
  width: 400px;
  height: 800px;
  border-radius: 40px;
  margin: 0 auto 0 auto;
  padding: 0px 0px 0px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 10), 0 6px 20px 0 rgba(0, 0, 0, 18);
}